@charset 'utf-8'
*
  box-sizing: border-box

@import 'projects'
@import 'sessions'
@import 'registrations'
@import 'passwords'
@import 'newedit.sass'
@import 'wbs'


body
  background: linear-gradient(45deg,#4C4C4C,#C0C0C0)

.wrapper 
  margin-right: auto 
  margin-left:  auto 

  max-width: 1100px 

  padding-right: 10px
  padding-left:  10px
