@charset 'utf-8'
*
  box-sizing: border-box

@import 'projects'
@import 'sessions'
@import 'registrations'
@import 'passwords'
@import 'newedit.sass'
@import 'index.sass'
@import 'wbs.sass'
@import 'ProblemeAction.sass'

html
  height: 100%
  overflow-y: hidden


body
  background: grey
  height: 100%
  margin: 0px
  padding: 0px
  overflow-y: hidden

.wrapper 
  max-height: 100%
  overflow-x: hidden
  overflow-y: scroll

