// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.Menu
    background: #3b3b3b
    max-width: 100%
    min-height: 100%
    height: 100%
    min-height: 100%

    .Title
        display: flex
        align-items: center
        text-align: center
        color: white
        background: #3b3b3b


        .Title h1
            margin: 0px
            padding: 1.5%

        .icon
            margin-left: 5%
            display: flex
            justify-content: space-between
            width: 20%
            z-index: 10
                
        .titre
            margin-left: -22%
            flex-grow: 5
        
        .icondroit
            margin-right: 2%

    .TableProjet
            overflow: scroll
            table-layout: fixed
            height: 100%
            position: relative

        table.display-table
            min-width: 100%
            border-collapse: collapse

        tbody

            td
                padding: 1%
                font-size: 1.5rem
            
            td.gauche
                text-align: center
                background: #5f5c5c
                color: white
            td.droite
                max-width: 70%
                min-width: 70%
                background: #ffffff
                border-bottom-style: solid
                border-bottom-color: #bdbdbd
                border-bottom-width: 1px


.LeBoutontable
    
    input[type="submit"]
        border-style: hidden
        font-size: 0.75rem
        padding-top: 10px
        padding-bottom: 10px
        padding-right: 15px
        padding-left: 15px
        background-color: rgba(230, 23, 16, 0.863)
        -webkit-box-shadow: 0 10px 30px 0px rgba(255, 21, 0, 0.466)
        color: white

    input[type="submit"]:hover
        background-color: rgb(230, 23, 16)


//Show apres index
.BoxProbleme
    max-width: 100%
    min-height: 100%
    height: 100%
    background: #5f5c5c

    .Title
        .titre
            margin-left: 0%

    .Colonne
        overflow:auto
        position: relative
        height: 80%
        min-height: 100%
        column-span: all
        column-count: 2

        .problem-box
            position: relative
            height: 100%
            max-height: 80%
            
            titre

                margin: 0%
                display: flex
                color: white

                icon
                    margin-top: 3%
                    margin-left: 30%

                h1
                    margin: 0%
                    margin-top: 3%
                    margin-left: 5%
                    margin-bottom: 3%

            
            .Table-Problem
                overflow: scroll
                position: relative
                table-layout: fixed
                margin-left: auto
                margin-right: auto
                max-height: 80%
                width: 90%
                align-items: center
                background: white
                height: 80%
                
                
                table#tb1.display-table
                    word-wrap: break-word
                    width: 100%
                    max-width: 100%
                    border-collapse: collapse
                    table-layout: fixed

                    td
                        overflow-wrap: break-word
                        width: 90%
                        padding: 10px
                        padding-left: 20px
                        font-size: 1.2rem

                    
                    td.gauche1
                        width: 80%
                        border-bottom-style: solid
                        border-bottom-color: #bdbdbd
                        border-bottom-width: 1px
                    td.droite
                        display: flex
                        text-align: right
                        justify-content: space-between
                        
                
        
        .action-box
            position: relative
            height: 80%
            
            
            titre

                display: flex
                color: white

                h1
                    margin: 3%
                    margin-left: 35%

            .Table-Action
                overflow: scroll
                position: relative
                table-layout: fixed
                margin-left: auto
                margin-right: auto
                max-height: 80%
                width: 90%
                align-items: center
                background: white
                height: 80%
                
                
                
                table.display-table
                    word-wrap: break-word
                    width: 100%
                    max-width: 100%
                    border-collapse: collapse
                    table-layout: fixed

                    td
                        overflow-wrap: break-word
                        width: 90%
                        padding: 10px
                        padding-left: 20px
                        font-size: 1.2rem

                    
                    td.gauche
                        width: 80%
                        border-bottom-style: solid
                        border-bottom-color: #bdbdbd
                        border-bottom-width: 1px
                    td.droite
                        display: flex
                        text-align: right
                        justify-content: space-between
                            
                




// .problem-box
//     display: inline-flex
//     flex-flow: row wrap
//     .problem-container
//         width: 20%
//         margin: 2.5%
//         .action-box
//             text-align: center
//             display: inline-flex

//             .action-container


  