// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.Latable
    //background
    background: #ffffff

    //position
    position: absolute
    top: 25%
    left: 50%
    transform: translate(-50%, -50%)

    //font
    color: #212529
    font-family: sans-serif
    overflow: false
    font-size: 1rem

    //taille


    //Shape
    border-radius: 20px
    font-weight: 400


//#36304a

table
    border-collapse: collapse
    border-radius: 15px
    overflow: hidden
    width: 100%
    margin: 0 auto
    position: relative
    background: #ffffff

.Latable table thead
    height: 60px
    background: #36304a
    color: #ffffff
    text-align: center

.Latable th
    padding-left: 20px
    padding-right: 20px
    text-align: center

.Latable td

    padding-block: 15px
    text-align: center
   


    input[type="submit"]

        
        border-style: hidden
        font-size: 0.75rem
        padding-top: 10px
        padding-bottom: 10px
        padding-right: 15px
        padding-left: 15px
        background-color: #4159d0de
        -webkit-box-shadow: 0 10px 30px 0px #4159d096
        color: white
      

    input[type="submit"]:hover
        background-color: #4158d0


.Latable tr.table-header--row:hover    
    background: #36304a

.Latable tbody tr:nth-child(odd)
    background: #ffffff

.Latable tbody tr:nth-child(even)
    background: #dddddd93


.Latable tbody tr:hover
    background: #adadad85

.Latable
    a
        color: #5892ff
        text-decoration: none
        moz-transition: all .4s
    a:hover
        color: #0077ffb2
    
.LeBoutontable
    
    input[type="submit"]
        border-style: hidden
        font-size: 0.75rem
        padding-top: 10px
        padding-bottom: 10px
        padding-right: 15px
        padding-left: 15px
        background-color: rgba(230, 23, 16, 0.863)
        -webkit-box-shadow: 0 10px 30px 0px rgba(255, 21, 0, 0.466)
        color: white

    input[type="submit"]:hover
        background-color: rgb(230, 23, 16)


//Show apres index
.TableProjet
    //background
    background: #ffffff

    //position
    position: absolute
    top: 25%
    left: 50%
    transform: translate(-50%, -50%)

    //font
    color: #212529
    font-family: sans-serif
    overflow: false
    font-size: 1rem

    //taille


    //Shape
    border-radius: 20px
    font-weight: 400

    table
        border-collapse: collapse
        border-radius: 15px
        overflow: hidden
        width: 100%
        margin: 0 auto
        position: relative
        background: #ffffff

        thead
            tr 
                border-bottom-style: solid
                border-color: #2d273d

        
        th
            padding-block: 15px
            padding-left: 40px
            padding-right: 40px
            text-align: center

        td
            padding-left: 40px
            padding-right: 40px
            padding-block: 15px 
            text-align: center

        th:nth-child(odd)
            color: #ffffff
            background: #36304a


        td:nth-child(odd)
            color: #ffffff
            background: #36304a


  