.LogBox

    //background
    background: #ffffff

    //position
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

    //font
    color: #212529
    font-family: 'Gudea', sans-serif
    overflow: false
    font-size: 1rem

    //taille
    padding-top: 2.5%
    padding-bottom: 2.5%
    padding-right: 5%
    padding-left: 5%

    //Shape
    border-radius: 10px

    
    font-weight: 400
    line-height: 1.5
    

.LogBox .actions
    
    display: flex
    align-items: center
    justify-content: center


    input[type="submit"]
        border-radius: 25px
        font-size: 1.5rem
        padding-top: 10px
        padding-bottom: 10px
        padding-right: 50px
        padding-left: 50px
        


    

.SignupBox
    
.LogBox p

    display: block
    font-size: 30px
    color: #333333
    line-height: 1.2
    text-align: center
    font-family: Poppins-Bold

.LogBox .Leslinks
    color: #666666
    font
        
    a
        color: #333333
        text-decoration: none
        moz-transition: all .4s
    a:hover
            color: #0a0808
